@model IEnumerable<LearningPortal.Domains.Course>

@{
    ViewData["Title"] = "Курсы";
}

<h1>@ViewData["Title"]</h1>

<p class="text-center">
    <a class="btn btn-outline-success btn-lg" asp-action="Create"><i class="fas fa-plus"></i> Создать курс</a>
</p>
<div class="card-deck">
    @foreach (var course in Model)
    {
        <br>
        <div class="card">
            <img src="@("~/images/"+course.ImageName)" asp-append-version="true" class="card-img-top" alt="@course.Name">
            <div class="card-body">
                <h5 class="card-title">@course.Name</h5>
                <p class="card-text">@course.Description</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    }
</div>