@model AppUserRoleModel

@{
    ViewData["Title"] = "Роли";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Роль</th>
        <th>Пользователи</th>
        <th>
            <a asp-action="Create" class="btn btn-outline-success"><i class="fas fa-plus"></i> Создать роль</a>
        </th>
    </tr>
    </thead>
    <tbody>
    @if (!Model.Roles.Any())
    {
        <tr>
            <td colspan="3">нет ролей</td>
        </tr>
    }
    else
    {
        foreach (var role in Model.Roles)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    @foreach (var user in Model.Users)
                    {
                        if (role.Name == user.Role)
                        {
                            <div>@user.UserName</div>
                        }

                    }
                </td>
                <td>
                    <a class="text-primary" asp-action="Edit" asp-route-id="@role.Id"><i class="fa fa-marker fa-lg"></i></a>
                    <a class="text-danger" asp-action="Delete" asp-route-id="@role.Id"><i class="fa fa-trash-alt fa-lg"></i></a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>
<div>
    <a asp-action="Index" asp-controller="Admin">Назад</a>
</div>